.heading{
  color: #fff;
  background-color: #000;
  text-align: center;
}
.id{
  background-color: rgb(3, 3, 54);
  color: #fff;
}
.title{
  color: brown;
  text-align: center;
}
.body{
  color: #fff;
  text-align: center;
}